{% extends "base.html" %}
{% block content %}
  <body class="badge">


    <div class="page">
      <div class="topleft">
        <div class="container">
          <div class="logo_bar">
            <img
              class="free"
              width="25%"
              src="/static/images/acme1.png"
            />
          </div>

          <br />

          <div class="logos">
            <img
              class="logos"
              width="8cm"
              src="/static/images/timetable.png"
            />
            <p class="breakout">

            </p>
            <div class="logo_bar">
              <img
                class="free logoheader"
                width="20%"
                src="/static/images/acme2.png"
              />
              <img
                class="free logoheader"
                width="20%"
                src="/static/images/acme3.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="topright">
        <div class="container">
          <img
            class="free frontlogo"
            width="35%"
            src="/static/images/acme1.png"
          />
          <br />

          <div class="visitorname">
            <span class="name"> Name: </span> <br />
            <br />
            <br />
            <br />
            <br />
            <span class="company-label">Company:&nbsp;</span>
          </div>



          <div class="logo_footer">
            <img
              class="free logoheader"
              width="20%"
              src="/static/images/acme2.png"
            />
            <img
              class="free logoheader"
              width="20%"
              src="/static/images/acme3.png"
            />
          </div>
        </div>
      </div>

      <div class="bottomleft">
        <div class="container"></div>
      </div>

      <div class="bottomright">
        <div class="container"></div>
      </div>
    </div>

    <div class="pagebreak"></div>
  </body>
  {% endblock %}

