{% extends "base.html" %}
{% block content %}
  <body class="overview">
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Fuzzy Match</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for visitor in visitors %} {% if not visitor.exact_match %}
        <tr>
          <td>{{ visitor.email }}</td>
          <td>{{ visitor.fuzzy_email_match }}</td>
          <td>{{ visitor.fuzzy_email_score }}</td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </body>
  {% endblock %}

